<mat-drawer-container fullscreen>
  <mat-drawer #drawer mode="side">
    <mat-list>
      <mat-list-item>
        <a href="https://k3nsei.github.io/ng-in-viewport/" target="_blank" mat-button>API</a>
      </mat-list-item>
      <mat-list-item>
        <a href="https://github.com/k3nsei/ng-in-viewport" target="_blank" mat-button>GitHub</a>
      </mat-list-item>
      <mat-list-item>
        <a href="https://www.npmjs.com/package/ng-in-viewport" target="_blank" mat-button>NPM</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="toolbar-label">{{ labels.toolbar }}</span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <nav mat-tab-nav-bar color="primary" backgroundColor="primary" [tabPanel]="tabPanel">
          <a
            mat-tab-link
            *ngFor="let navLink of navLinks"
            [routerLink]="navLink.path"
            routerLinkActive="is-active"
            #activeNavLink="routerLinkActive"
            [active]="activeNavLink.isActive">
            {{ navLink.label }}
          </a>
        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <button mat-mini-fab color="primary" (click)="scrollTop()">
      <mat-icon aria-label="Scroll back to top">keyboard_arrow_up</mat-icon>
    </button>
  </mat-drawer-content>
</mat-drawer-container>
