# Compiled output
/dist
/tmp
/out-tsc

# Only exists if Bazel was run
/bazel-out

# Dependencies
/node_modules

# NPM files
package-lock.json
npm-shrinkwrap.json
npm-debug.log

# Yarn files
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!yarn.lock
yarn-error.log

# Husky
/.husky/_/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
