# Encrypt the repository
# Remove/modify this line if the repository is meant to be open-source
# *.* filter=git-crypt diff=git-crypt
.gitattributes !filter !diff

# Source code
*.coffee text
*.css text
*.htm text diff=html
*.html text diff=html
*.inc text
*.js text
*.json text
*.jsx text
*.less text
*.ls text
*.map text -diff
*.od text
*.onlydata text
*.phtml text diff=php
*.php text diff=php
*.pl text
*.py text diff=python
*.rb text diff=ruby
*.sass text
*.scm text
*.scss text diff=css
*.sql text
*.styl text
*.tag text
*.ts text
*.tsx text
*.xml text
*.xhtml text diff=html

# Templates
*.dot text
*.ejs text
*.haml text
*.handlebars text
*.hbs text
*.hbt text
*.jade text
*.latte text
*.mustache text
*.njk text
*.phtml text
*.tmpl text
*.tpl text
*.twig text
*.vue text

# Configs
*.cnf text
*.conf text
*.config text
*.ini text
*.lock text -diff
*.toml text
*.xml text
*.yml text
*.yaml text
.editorconfig text
.env text
.gitconfig text
.htaccess text
browserslist text
Makefile text
makefile text
package-lock.json text -diff

# Documentation
*.ipynb text
*.markdown text
*.md text
*.mdwn text
*.mdown text
*.mdx text
*.mkd text
*.mkdn text
*.mdtxt text
*.mdtext text
AUTHORS text
CHANGELOG text
CHANGES text
CONTRIBUTING text
COPYING text
copyright text
*COPYRIGHT* text
INSTALL text
license text
LICENSE text
NEWS text
readme text
*README* text
TODO text

# Scripts
*.bash text eol=lf
*.bat text eol=crlf
*.cmd ext eol=crlf
*.fish text eol=lf
*.ps1 text eol=crlf
*.sh text eol=lf

# Docker
Dockerfile text

# Heroku
Procfile text

# Text
*.textile text eol=lf
*.txt text eol=lf

# Data
*.csv text eol=lf

# Fonts
*.eot binary
*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary

# Images
*.ai binary
*.apng binary
*.avif binary
*.bmp binary
*.cur binary
*.eps binary
*.gif binary
*.gifv binary
*.ico binary
*.jfif binary
*.jng binary
*.jp2 binary
*.jpg binary
*.jpeg binary
*.jpx binary
*.jxr binary
*.pdf binary
*.pjp binary
*.pjpeg binary
*.png binary
*.psb binary
*.psd binary
*.svg text
*.svgz binary
*.tif binary
*.tiff binary
*.wbmp binary
*.webp binary

# Audio
*.kar binary
*.m4a binary
*.mid binary
*.midi binary
*.mp3 binary
*.ogg binary
*.ra binary

# Videos
*.3gp binary
*.3gpp binary
*.as binary
*.asf binary
*.asx binary
*.fla binary
*.flv binary
*.m4v binary
*.mkv binary
*.mng binary
*.mov binary
*.mp4 binary
*.mpg binary
*.mpeg binary
*.ogv binary
*.swc binary
*.swf binary
*.webm binary

# Archives
*.7z binary
*.gz binary
*.jar binary
*.rar binary
*.tar binary
*.tgz binary
*.zip binary

# Executables
*.bin binary
*.deb binary
*.dll binary
*.elf binary
*.exe binary
*.msi binary
*.pyc binary
*.so binary

# Ignore files
*.*ignore text

# RC files
*.*rc text

# Auto detect text files and perform LF normalization
* text=auto
