<mat-sidenav-container fullscreen class="app-container">
  <mat-sidenav-content class="app-content" data-testid="content">
    <ngi-ex-header
      class="app-header"
      data-testid="header"
      title="ng-in-viewport examples"
      [links]="headerLinks"
      [sidebarRef]="sidebar" />
    <router-outlet />

    <button mat-mini-fab class="scroll-top" aria-label="Scroll back to top" (click)="scrollTop()">
      <mat-icon fontIcon="keyboard_arrow_up" />
    </button>
  </mat-sidenav-content>

  <mat-sidenav
    #sidebar="matSidenav"
    class="app-sidebar"
    data-testid="sidebar"
    position="start"
    [mode]="isSmallDevice() ? 'over' : 'side'">
    @defer (on idle) {
      <mat-list>
        @for (link of sidebarLinks; track $index) {
          <mat-list-item [ngxIntersection]="{ threshold: [1] }" (intersectionChange)="checkVisibility($event)">
            <a mat-button [href]="link.path" target="_blank">{{ link.label }}</a>
          </mat-list-item>
        }
      </mat-list>
    }
  </mat-sidenav>
</mat-sidenav-container>
