$line-fg: rgba(182, 182, 182, 0.87);
$line-bg: rgba(158, 158, 158, 0.87);
$duration: 1.25s;

@mixin background-gradient {
  background-image: linear-gradient(90deg, $line-bg 0%, $line-fg 40%, $line-bg 80%);
  background-size: 80vw;
}

@keyframes lines {
  0% {
    background-position: -20vw;
  }
  40% {
    background-position: 40vw;
  }
  100% {
    background-position: 60vw;
  }
}

@mixin animate {
  @include background-gradient;
  animation: lines $duration infinite linear;
}

:host {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lazy-img-skeleton {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  @include animate;
}
