<section class="example example--first">
  <ng-container *ngFor="let element of elements; last as isLast; even as isEven">
    <div
      class="first-section-child item"
      [class.item--alt]="isEven"
      [class.item--last]="isLast"
      inViewport
      [inViewportOptions]="getOptions('first', isEven)"
      (inViewportAction)="handleAction($event)">
      {{ element }}
    </div>
  </ng-container>
</section>

<section class="example example--second" #secondSection>
  <ng-container *ngFor="let element of elements; last as isLast; even as isEven">
    <div
      class="second-section-child item"
      [class.item--alt]="isEven"
      [class.item--last]="isLast"
      inViewport
      [inViewportOptions]="getOptions('second', isEven)"
      (inViewportAction)="handleAction($event)">
      {{ element }}
    </div>
  </ng-container>
</section>
