.grid-tile {
  background-color: #9e9e9e;
  font-size: 2em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
  transition:
    background-color 0.25s ease-in,
    color 0.25s ease-in;

  mat-spinner {
    inline-size: 50px;
    block-size: 50px;
    inset-inline: calc(50% - 25px);
    position: absolute;
  }

  img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in;

    &.loaded {
      opacity: 1;
    }
  }
}
