:host {
  --line-fg: rgba(182, 182, 182, 0.87);
  --line-bg: rgba(158, 158, 158, 0.87);
  --duration: 1.25s;

  inline-size: 100%;
  block-size: 100%;
  margin: 0;
  padding: 0;
  inset: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lazy-img-skeleton {
  inline-size: 100%;
  block-size: 100%;
  display: block;
  overflow: hidden;
  background-image: linear-gradient(
    90deg,
    var(--line-bg) 0%,
    var(--line-fg) 40%,
    var(--line-bg) 80%
  );
  background-size: 80vw;
  animation: lines var(--duration) infinite linear;
}

@keyframes lines {
  0% {
    background-position: -20dvw;
  }
  40% {
    background-position: 40dvw;
  }
  100% {
    background-position: 60dvw;
  }
}
