@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root,
html,
body,
#blitz-app {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.error-snackbar {
  background-color: red;
}
